<?php
declare(strict_types=1);

namespace ##AppName\Tests\Application\Query\GetByCode;

use PHPUnit\Framework\TestCase;
use ##AppName\##Application##\Application\##Name##\Query\GetByCode\GetByCode##Name##Query;
use ##AppName\##Application##\Application\##Name##\Query\GetByCode\GetByCode##Name##QueryHandler;
use ##AppName\##Application##\Domain\Entity\##Name##;
use ##AppName\##Application##\Domain\Repository\##Name##RepositoryInterface;
use ##AppName\##Application##\Domain\VO\ID;
use Mockery;

class GetByCode##Name##QueryHandlerTest extends TestCase
{
    private GetByCode##Name##QueryHandler $handler;
    private $repository;

    protected function setUp(): void
    {
        $this->repository = Mockery::mock(##Name##RepositoryInterface::class);
        $this->handler = new GetByCode##Name##QueryHandler($this->repository);
    }

    public function testHandleReturns##Name##ByCode(): void
    {
        $id = ID::generate();
        $entity = ##Name##::create($id, 'Test');

        $query = new GetByCode##Name##Query('CODE123');

        $this->repository
            ->shouldReceive('findByCode')
            ->with('CODE123')
            ->andReturn($entity);

        $result = $this->handler->handle($query);

        $this->assertSame($entity, $result);
    }
}