<?php
declare(strict_types=1);

namespace ##AppName\Tests\Application\Listener;

use PHPUnit\Framework\TestCase;
use ##AppName\##Application##\Application\##Name##\Listener\##Name##CreatedListener;
use ##AppName\##Application##\Domain\Event\##Name##\##Name##Created;
use ##AppName\##Application##\Domain\VO\ID;
use Mockery;

class ##Name##CreatedListenerTest extends TestCase
{
    private ##Name##CreatedListener $listener;

    protected function setUp(): void
    {
        $this->listener = new ##Name##CreatedListener();
    }

    public function testHandle(): void
    {
        $id = ID::generate();
        $event = new ##Name##Created($id, 'Test', new \DateTimeImmutable());

        $this->listener->handle($event);

        // Listener should handle event without throwing
        $this->assertTrue(true);
    }
}