<?php
declare(strict_types=1);

namespace ##AppName\Tests\Application\Listener;

use PHPUnit\Framework\TestCase;
use ##AppName\##Application##\Application\##Name##\Listener\##Name##ArchivedListener;
use ##AppName\##Application##\Domain\Event\##Name##\##Name##Archived;
use ##AppName\##Application##\Domain\VO\ID;
use DateTimeImmutable;

class ##Name##ArchivedListenerTest extends TestCase
{
    private ##Name##ArchivedListener $listener;

    protected function setUp(): void
    {
        $this->listener = new ##Name##ArchivedListener();
    }

    public function testHandle(): void
    {
        $id = ID::generate();
        $event = new ##Name##Archived($id, 'Test', new DateTimeImmutable());

        $this->listener->handle($event);

        $this->assertTrue(true);
    }
}