<?php
declare(strict_types=1);

namespace ##AppName\Tests\Application\Listener;

use PHPUnit\Framework\TestCase;
use ##AppName\##Application##\Application\##Name##\Listener\##Name##ReinstatedListener;
use ##AppName\##Application##\Domain\Event\##Name##\##Name##Reinstated;
use ##AppName\##Application##\Domain\VO\ID;
use DateTimeImmutable;

class ##Name##ReinstatedListenerTest extends TestCase
{
    private ##Name##ReinstatedListener $listener;

    protected function setUp(): void
    {
        $this->listener = new ##Name##ReinstatedListener();
    }

    public function testHandle(): void
    {
        $id = ID::generate();
        $event = new ##Name##Reinstated($id, new DateTimeImmutable());

        $this->listener->handle($event);

        $this->assertTrue(true);
    }
}