<?php
declare(strict_types=1);

namespace ##AppName\Tests\Domain\Event;

use PHPUnit\Framework\TestCase;
use ##AppName\##Application##\Domain\Event\##Name##\##Name##Renamed;
use ##AppName\##Application##\Domain\VO\ID;

class ##Name##RenamedTest extends TestCase
{
    public function testEventCreation(): void
    {
        $id = ID::generate();
        $oldName = 'Old Name';
        $newName = 'New Name';
        $occurredOn = new \DateTimeImmutable();

        $event = new ##Name##Renamed($id, $oldName, $newName, $occurredOn);

        $this->assertEquals($id, $event->getId());
        $this->assertEquals($oldName, $event->getOldName());
        $this->assertEquals($newName, $event->getNewName());
    }

    public function testEventHasCorrectName(): void
    {
        $event = new ##Name##Renamed(ID::generate(), 'Old', 'New', new \DateTimeImmutable());

        $this->assertEquals('##Name##Renamed', $event->getEventName());
    }
}