<?php
declare(strict_types=1);

namespace Medigi\Tests\Application\Command\Reinstate;

use PHPUnit\Framework\TestCase;
use Medigi\##Application##\Application\##Name##\Command\Reinstate\Reinstate##Name##Command;
use Medigi\##Application##\Application\##Name##\Command\Reinstate\Reinstate##Name##CommandHandler;
use Medigi\##Application##\Domain\Entity\##Name##;
use Medigi\##Application##\Domain\Repository\##Name##RepositoryInterface;
use Medigi\##Application##\Domain\VO\ID;
use Medigi\##Application##\Domain\VO\Status;
use Mockery;

class Reinstate##Name##CommandHandlerTest extends TestCase
{
    private Reinstate##Name##CommandHandler $handler;
    private $repository;

    protected function setUp(): void
    {
        $this->repository = Mockery::mock(##Name##RepositoryInterface::class);
        $this->handler = new Reinstate##Name##CommandHandler($this->repository);
    }

    public function testHandleReinstates##Name##(): void
    {
        $id = ID::generate();
        $entity = ##Name##::create($id, 'Test');
        $entity->archive();

        $command = new Reinstate##Name##Command($id);

        $this->repository
            ->shouldReceive('findById')
            ->with($id)
            ->andReturn($entity);
        $this->repository
            ->shouldReceive('save')
            ->once()
            ->with($entity);

        $this->handler->handle($command);

        $this->assertEquals(Status::Active, $entity->getStatus());
    }
}