<?php
declare(strict_types=1);

namespace ##Application##\##Name##\Application\##Name##\Command\Delete;

use Symfony\Component\Validator\Constraints as Assert;

class Delete##Name##Command
{
    public function __construct(
        #[Assert\NotBlank(message: 'ID is required')]
        public readonly string $id
    ) {
    }
}
