<?php
declare(strict_types=1);

namespace ##Application##\##Name##\Domain\Entity;

use ##Application##\##Name##\Domain\Event\##Name##\DomainEvent;

trait ##Name##EventTrait
{
    /** @var DomainEvent[] */
    private array $domainEvents = [];

    protected function recordEvent(DomainEvent $event): void
    {
        $this->domainEvents[] = $event;
    }

    /**
     * @return DomainEvent[]
     */
    public function releaseEvents(): array
    {
        $events = $this->domainEvents;
        $this->domainEvents = [];
        return $events;
    }
}
