<?php
declare(strict_types=1);

namespace ##Application##\##Name##\Application\##Name##\Query\GetById;

class GetById##Name##Query
{
    public function __construct(
        public readonly string $id
    ) {
    }
}
