<?php
declare(strict_types=1);

namespace ##Application##\##Name##\Application\##Name##\Listener;

use ##Application##\##Name##\Domain\Event\##Name##\##Name##Renamed;

class ##Name##RenamedListener
{
    public function __invoke(##Name##Renamed $event): void
    {
        // TODO: Implement business logic
    }
}
