<?php
declare(strict_types=1);

namespace ##Application##\##Name##\Domain\VO;

enum Status: string
{
    case ACTIVE = 'active';
    case ARCHIVED = 'archived';
    case DELETED = 'deleted';

    public static function active(): self
    {
        return self::ACTIVE;
    }

    public static function archived(): self
    {
        return self::ARCHIVED;
    }

    public static function deleted(): self
    {
        return self::DELETED;
    }

    public function isActive(): bool
    {
        return $this === self::ACTIVE;
    }

    public function isArchived(): bool
    {
        return $this === self::ARCHIVED;
    }

    public function isDeleted(): bool
    {
        return $this === self::DELETED;
    }
}
